@mixin styles($color, $b-width: 1px, $b-style: dashed, $b-color: cyan) {    
    color: $color;
    border: $b-width $b-style $b-color;
}

.div {
    @include styles(lightblue);
    &:hover {
        background-color: aqua;
    }
}